/* Set black background color, white text and some padding */

body {
  font: 13px sans-serif;
  font-style: italic;
  background-color: WhiteSmoke;
}

.header {
	align: center;
	font-style: normal;
	font-weight: bold;
	background-color: white;
    padding: 15px;
}

.intro {
	padding: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.axis text {
	font: 12px sans-serif;
	font-weight: bold;
}

.title_ {
	font: 15px sans-serif;
	font-style: normal;
	font-weight: bold;
}

.legend {
	font-style: normal;
}

.dropdown {
	position: absolute;
	padding: none;
}

.dropdown-menu {
  position: absolute;
  top: 35%;
  left: -15%;
}

.dropdown-item {
	font: 14px sans-serif;
	position: relative;
}

input[type="checkbox"] {
      transform:scale(0.9, 0.9);
}

.btn {
	font-style: normal;
	float: left;
	float: top;
	background-color: LightSlateGrey;
}

.sidenav {
    padding-top: 20px;
    height: 100%;
    padding-bottom: 100px;
}
    
footer {
    background-color: white;
    color: LightSlateGrey;
    padding: 15px;
}