.chart rect {
	fill: blue;
}

.chart text {
	fill: black;
	font: 10px sans-serif;
	text-anchor: middle;
}

.axis text {
	font: 10px sans-serif;
	text-anchor: left;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}