.chart rect {
	fill: CadetBlue;
	stroke: DarkSlateGrey;
}

.chart text {
	fill: DarkSlateGrey;
	font: 11px arial;
	text-anchor: middle;
}

.axis text {
	fill: black;
	font: 14px arial;
	text-anchor: left;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
}

#title_ {
	fill: black;
	font: 22px arial;
	text-anchor: middle;
}